body {
  background: #EFEFEF;
}

#main-box {
  padding-top: 5em;
}

footer {
  padding: 20px 0;
  text-align: center;
}

.package-name {
  padding: 5px 8px;
  font-size: 15px;
  width: 270px;
}

.generator {
  margin: 3em 0;
}
