template(name='home')
  h1 Meteor Icon
  img(src='package/tomi:upload-jquery')
  form.demo-form
    input.package-name(type='text', placeholder='Your package name')
    input(type='submit', value='Get one')
  .demo
    img.demo-icon
    br
    textarea.embed-code.hidden(rows='5' cols='50')
head
  link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
  link(link rel="icon" href="/favicon.ico")
body
  | {{> home}}
