.hidden { display: none; }
body { font-family: 'Montserrat', sans-serif; text-align: center; }
.demo { padding: 50px 0px; }
img { padding: 20px 0 10px; }
.package-name { padding: 5px 8px; font-size: 15px; width: 270px; }
