template(name='home')
  h1 Meteor Icon
  img.demo-icon(src='package/tomi:upload-jquery')
  textarea.embed-code(rows='5' cols='50')
  form.demo-form
    input.package-name(type='text', required
     placeholder='Your package name (e.g. iron:router)')
    input.btn(type='submit', value='Get one')
head
  link(href='https://fonts.googleapis.com/css?family=Montserrat',
   rel='stylesheet', type='text/css')
  link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
body
  | {{> home}}
